@{
    ViewBag.Title = "EnvironmentalLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/Environmental/environmentalModule.js"></script>
<script src="~/Scripts/Environmental/environmentalController.js"></script>
<script src="~/Scripts/Environmental/EnvironmentalServices.js"></script>

<div ng-app="environmentalModule">
    <div ng-view>

    </div>
</div>

