@{
    ViewBag.Title = "environmental";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link type="text/css" rel="stylesheet" href="~/Content/myCss/environmental.css">

<div class="row table-display-frame">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
        <div class="panel panel-red">
            <div class="panel-heading">Environmental Measurements</div>
            <div class="panel-body">
                <table class="table table-hover table-bordered display-table col-lg-10">
                    <thead>
                        <tr class="heading-row">
                            <th>No.</th>
                            <th>Time</th>
                            <th>Temperature</th>
                            <th>Pressure</th>
                            <th>Humidity</th>
                            <th>VOC</th>
                            <th>Light</th>
                            <th>Noise</th>
                            <th>Battery</th>
                            <th>RSSI</th>
                            <th>Details</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="active">
                            <td>1</td>
                            <td>12-2-2015 14:55:21</td>
                            <td>21.30 &#186; C</td>
                            <td>982 mbar</td>
                            <td>45%</td>
                            <td>563</td>
                            <td>2 lux</td>
                            <td>80 dBa</td>
                            <td>75%</td>
                            <td>-52</td>
                            <td>
                                <a href="/Environmental/environmentalDetails">
                                    <button type="button" ata-value="bounce" class="btn btn-primary btn-table-details"><i class="fa fa-bars"></i></button>
                                </a>
                            </td>
                        </tr>

                        <tr class="active">
                            <td>2</td>
                            <td>12-2-2015 14:55:21</td>
                            <td>21.30 &#186; C</td>
                            <td>982 mbar</td>
                            <td>45%</td>
                            <td>563</td>
                            <td>2 lux</td>
                            <td>80 dBa</td>
                            <td>75%</td>
                            <td>-52</td>
                            <td>
                                <a href="/Environmental/environmentalDetails">
                                    <button type="button" ata-value="bounce" class="btn btn-primary btn-table-details"><i class="fa fa-bars"></i></button>
                                </a>
                            </td>
                        </tr>
                        <tr class="active">
                            <td>3</td>
                            <td>12-2-2015 14:55:21</td>
                            <td>21.30 &#186; C</td>
                            <td>982 mbar</td>
                            <td>45%</td>
                            <td>563</td>
                            <td>2 lux</td>
                            <td>80 dBa</td>
                            <td>75%</td>
                            <td>-52</td>
                            <td>
                                <a href="/Environmental/environmentalDetails">
                                    <button type="button" ata-value="bounce" class="btn btn-primary btn-table-details"><i class="fa fa-bars"></i></button>
                                </a>
                            </td>
                        </tr>
                        <tr class="active">
                            <td>4</td>
                            <td>12-2-2015 14:55:21</td>
                            <td>21.30 &#186; C</td>
                            <td>982 mbar</td>
                            <td>45%</td>
                            <td>563</td>
                            <td>2 lux</td>
                            <td>80 dBa</td>
                            <td>75%</td>
                            <td>-52</td>
                            <td>
                                <a href="/Environmental/environmentalDetails">
                                    <button type="button" ata-value="bounce" class="btn btn-primary btn-table-details"><i class="fa fa-bars"></i></button>
                                </a>
                            </td>
                        </tr>
                        <tr class="active">
                            <td>5</td>
                            <td>12-2-2015 14:55:21</td>
                            <td>21.30 &#186; C</td>
                            <td>982 mbar</td>
                            <td>45%</td>
                            <td>563</td>
                            <td>2 lux</td>
                            <td>80 dBa</td>
                            <td>75%</td>
                            <td>-52</td>
                            <td>
                                <a href="/Environmental/environmentalDetails">
                                    <button type="button" ata-value="bounce" class="btn btn-primary btn-table-details"><i class="fa fa-bars"></i></button>
                                </a>
                            </td>
                        </tr>
                        <tr class="active">
                            <td>6</td>
                            <td>12-2-2015 14:55:21</td>
                            <td>21.30 &#186; C</td>
                            <td>982 mbar</td>
                            <td>45%</td>
                            <td>563</td>
                            <td>2 lux</td>
                            <td>80 dBa</td>
                            <td>75%</td>
                            <td>-52</td>
                            <td>
                                <a href="/Environmental/environmentalDetails">
                                    <button type="button" ata-value="bounce" class="btn btn-primary btn-table-details"><i class="fa fa-bars"></i></button>
                                </a>
                            </td>
                        </tr>
                        <tr class="active">
                            <td>7</td>
                            <td>12-2-2015 14:55:21</td>
                            <td>21.30 &#186; C</td>
                            <td>982 mbar</td>
                            <td>45%</td>
                            <td>563</td>
                            <td>2 lux</td>
                            <td>80 dBa</td>
                            <td>75%</td>
                            <td>-52</td>
                            <td>
                                <a href="/Environmental/environmentalDetails">
                                    <button type="button" ata-value="bounce" class="btn btn-primary btn-table-details"><i class="fa fa-bars"></i></button>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="row control-button-frame">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 back-table-button">

                        <button type="button" class="btn btn-danger btn-table-back"><i class="fa fa-angle-left"></i>&#32;&#32;&#32;@Html.ActionLink("back to Sensors Select", "selectSensor", "SelectSensor")</button>

                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-7 control-table-button">
                        <button type="button" class="btn btn-danger btn-table-control"><i class="fa fa-angle-left"></i>&#32;&#32;&#32; Previous</button>
                        <button type="button" class="btn btn-danger btn-table-control">Next&#32;&#32;&#32;<i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


