@{
    ViewBag.Title = "selectSensor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Content/myCss/welcome.css">
<link type="text/css" rel="stylesheet" href="~/Content/myCss/sensorSelect.css">

<div class="row welcome-content">
    <!--
                <div class="col-lg-12 col-md-12 col-sm-12 welcome-title">
        <h1> Valorozation Project </h1>
    </div>
    -->
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-xs-12 ">
        <div class="col-lg-12 select-sensor-fream">
            <a href="/HealtCare/healtCare">
                <button type="button" class="btn btn-default btn-select-sensor">Health care</button>
            </a>

        </div>
        <div class="col-lg-12 select-sensor-fream">

            <a href="/Environmental/environmental">
                <button type="button" class="btn btn-default btn-select-sensor">Environmental</button>
            </a>
        </div>
    </div>
</div>

