<!DOCTYPE html>
<html lang="en" ng-app="Demo Project">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Demo Project</title>

    <!-- Bootstrap Core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./css/welcome.css" rel="stylesheet">

    <!--    Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!--    Fonts -->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <link type="text/css" rel="stylesheet" href="./css/logIn/jquery-ui-1.10.4.custom.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--  LogIn  Styles-->
    <link type="text/css" rel="stylesheet" href="./css/logIn/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="./css/logIn/animate.css">
    <link type="text/css" rel="stylesheet" href="./css/logIn/all.css">
    <link type="text/css" rel="stylesheet" href="./css/logIn/main.css">
    <link type="text/css" rel="stylesheet" href="./css/logIn/style-responsive.css">
    <link type="text/css" rel="stylesheet" href="./css/logIn/zabuto_calendar.min.css">
    <link type="text/css" rel="stylesheet" href="./css/logIn/pace.css">
    <link type="text/css" rel="stylesheet" href="./css/logIn/jquery.news-ticker.css">
    <link type="text/css" rel="stylesheet" href="./css/logIn.css">
    <link type="text/css" rel="stylesheet" href="./css/logIn.css">
    <!--    Custom Css -->
    <link type="text/css" rel="stylesheet" href="./css/environmental.css">
    <link type="text/css" rel="stylesheet" href="./css/healtCare.css">
    <link type="text/css" rel="stylesheet" href="./css/menu.css">

</head>

<body>



    <div ng-include="'index.htm'"></div>





    <!--    ------- Include Scripts: ---------------- -->
    <!-- jQuery -->
    <script src="./script/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./script/bootstrap.min.js"></script>

    <!--    Less -->
    <script src="./script/less.min.js" type="text/javascript"></script>
    <script src="./script/carusel.js" type="text/javascript"></script>

    <!-- Script to Activate the Carousel -->
    <script src="./script/carusel.js" type="text/javascript"></script>

    <!--Angular script -->
    <script src="./script/angular.min.js"></script>
    <!--JQuery Script -->
    <script src="./script/logIn/jquery-1.10.2.min.js"></script>
    <script src="./script/logIn/jquery-migrate-1.2.1.min.js"></script>
    <script src="./script/logIn/jquery-ui.js"></script>
    <!--    LogIn script -->
    <script src="./script/logIn/bootstrap.min.js"></script>
    <script src="./script/logIn/bootstrap-hover-dropdown.js"></script>
    <script src="./script/logIn/html5shiv.js"></script>
    <script src="./script/logIn/respond.min.js"></script>
    <script src="./script/logIn/jquery.metisMenu.js"></script>
    <script src="./script/logIn/jquery.slimscroll.js"></script>
    <script src="./script/logIn/jquery.cookie.js"></script>
    <script src="./script/logIn/icheck.min.js"></script>
    <script src="./script/logIn/custom.min.js"></script>
    <script src="./script/logIn/jquery.news-ticker.js"></script>
    <script src="./script/logIn/jquery.menu.js"></script>
    <script src="./script/logIn/pace.min.js"></script>
    <script src="./script/logIn/holder.js"></script>
    <script src="./script/logIn/responsive-tabs.js"></script>
    <script src="./script/logIn/jquery.flot.js"></script>
    <script src="./script/logIn/jquery.flot.categories.js"></script>
    <script src="./script/logIn/jquery.flot.pie.js"></script>
    <script src="./script/logIn/jquery.flot.tooltip.js"></script>
    <script src="./script/logIn/jquery.flot.resize.js"></script>
    <script src="./script/logIn/jquery.flot.fillbetween.js"></script>
    <script src="./script/logIn/jquery.flot.stack.js"></script>
    <script src="./script/logIn/jquery.flot.spline.js"></script>
    <script src="./script/logIn/zabuto_calendar.min.js"></script>
    <script src="./script/logIn/index.js"></script>
    <!--LOADING SCRIPTS FOR CHARTS-->
    <script src="./script/logIn/highcharts.js"></script>
    <script src="./script/logIn/data.js"></script>
    <script src="./script/logIn/drilldown.js"></script>
    <script src="./script/logIn/exporting.js"></script>
    <script src="./script/logIn/highcharts-more.js"></script>
    <script src="./script/logIn/charts-highchart-pie.js"></script>
    <script src="./script/logIn/charts-highchart-more.js"></script>
    <!--CORE JAVASCRIPT-->
    <script src="./script/logIn/main.js"></script>
    <script src="./script/menu.js"></script>

</body>

</html>