<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide">


    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../Content/img/background/bg-selectSensor-2.jpg');"></div>

        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../Content/img/background/bg-selectSensor-3.jpg');"></div>

        </div>
        <div class="item">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../Content/img/background/bg-welcome-1.jpg');"></div>

        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../Content/img/background/bg-welcome-2.jpg');"></div>

        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('../Content/img/background/bg-welcome-3.jpg');"></div>

        </div>
    </div>

    <!--        Title -->
    <div class="row welcome-content">

        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-xs-12 ">
            <div class="col-lg-12 select-sensor-fream">
                <a href="/healtCare">
                    <button type="button" class="btn btn-default btn-select-sensor">Health care</button>
                </a>

            </div>
            <div class="col-lg-12 select-sensor-fream">

                <a href="/environmental">
                    <button type="button" class="btn btn-default btn-select-sensor">Environmental</button>
                </a>
            </div>
        </div>
    </div>


</header>

