@{
    ViewBag.Title = "healtCareDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Content/myCss/healtCare.css">


<div class="row table-display-frame">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
        <div class="panel panel-green">
            <div class="panel-heading">Healt Care Measurements</div>
            <div class="panel-body">
                <table class="table table-hover table-bordered display-table col-lg-10">
                    <thead>
                        <tr class="heading-row">
                            <th>No.</th>
                            <th>Time</th>
                            <th>Activity</th>
                            <th>Distance</th>
                            <th>Duration</th>
                            <th>Average Speed</th>
                            <th>Top Speed</th>
                            <th>Energy</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <td>1</td>
                            <td>12-2-2015 14:55:21</td>
                            <td>Running</td>
                            <td>5,2 km</td>
                            <td>53 &#39; 43 &#39;&#39; </td>
                            <td>20 km/h</td>
                            <td>35 km/h</td>
                            <td>520 kcal</td>
                            <td class="success">Good</td>
                        </tr>
                        <tr class="active">
                            <td>2</td>
                            <td>12-2-2015 14:55:21</td>
                            <td>Running</td>
                            <td>5,2 km</td>
                            <td>53 &#39; 43 &#39;&#39; </td>
                            <td>20 km/h</td>
                            <td>35 km/h</td>
                            <td>520 kcal</td>
                            <td class="success">Good</td>
                        </tr>
                        <tr class="active">
                            <td>3</td>
                            <td>12-2-2015 14:55:21</td>
                            <td>Running</td>
                            <td>5,2 km</td>
                            <td>53 &#39; 43 &#39;&#39; </td>
                            <td>20 km/h</td>
                            <td>35 km/h</td>
                            <td>520 kcal</td>
                            <td class="success">Good</td>
                        </tr>
                        <tr class="active">
                            <td>4</td>
                            <td>12-2-2015 14:55:21</td>
                            <td>Running</td>
                            <td>5,2 km</td>
                            <td>53 &#39; 43 &#39;&#39; </td>
                            <td>20 km/h</td>
                            <td>35 km/h</td>
                            <td>520 kcal</td>
                            <td class="danger">Troubleshoot</td>
                        </tr>
                        <tr class="active">
                            <td>5</td>
                            <td>12-2-2015 14:55:21</td>
                            <td>Running</td>
                            <td>5,2 km</td>
                            <td>53 &#39; 43 &#39;&#39; </td>
                            <td>20 km/h</td>
                            <td>35 km/h</td>
                            <td>520 kcal</td>
                            <td class="success">Good</td>
                        </tr>
                        <tr class="active">
                            <td>6</td>
                            <td>12-2-2015 14:55:21</td>
                            <td>Running</td>
                            <td>5,2 km</td>
                            <td>53 &#39; 43 &#39;&#39; </td>
                            <td>20 km/h</td>
                            <td>35 km/h</td>
                            <td>520 kcal</td>
                            <td class="danger">Troubleshoot</td>
                        </tr>
                        <tr class="active">
                            <td>7</td>
                            <td>12-2-2015 14:55:21</td>
                            <td>Wallking</td>
                            <td>15,2 km</td>
                            <td>53 &#39; 43 &#39;&#39; </td>
                            <td>2 km/h</td>
                            <td>5 km/h</td>
                            <td>1520 kcal</td>
                            <td class="warning">Bad</td>
                        </tr>

                    </tbody>
                </table>
                <div class="row control-button-frame">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 back-table-button">
                        <a href="/SelectSensor/selectSensor">
                            <button type="button" class="btn btn-success btn-table-back"><i class="fa fa-angle-left"></i>&#32;&#32;&#32;back to Sensors Select</button>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-7 control-table-button">
                        <button type="button" class="btn btn-success btn-table-control"><i class="fa fa-angle-left"></i>&#32;&#32;&#32; Previous</button>
                        <button type="button" class="btn btn-success btn-table-control">Next&#32;&#32;&#32;<i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
